<h1>Listing resources</h1>

<table id="resources-table">
  <tr>
    <th>Title</th>
    <th>Created at</th>
    <th>Last accessed at</th>
    <th>Tags</th>
    <th>Priority</th>
    <th>File</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Resource</a>