<%- model_class = Resource -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div id="container"></div>

<table id="resources" class="table table-striped">
  <thead>
      <th>priority</th>
      <th>title</th>
      <th>link</th>
      <th>path</th>
      <th>tags</th>
      <th>last</th>
      <th>created</th>
      <th>actions</th>
  </thead>
  <tbody>
    <!-- templates/resources/index.jst.eco -->
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_resource_path,
            :class => 'btn btn-primary' %>
